@model JobBoard.Models.IndexViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.JobPosts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            @* <td> *@
            @*     $1$ <a asp-action="DetailJobPost" asp-route-id="@item.Id" asp-route-detail="@true">Details</a> | #1# *@
            @*     $1$ <a asp-action="EditJobPost" asp-route-id="@item.Id" asp-route-edit="@true">Edit</a> | #1# *@
            @*     $1$ <a asp-action="DeleteJobPost" asp-controller="Poster" asp-route-id="@item.Id">Delete</a> #1# *@
            @* </td> *@
        </tr>
    }
    </tbody>
</table>

