@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using JobBoard.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JobBoard.Models.View.JobApplyViewModel

<input hidden asp-for="JobId" value="@Model.JobId" />

<div>
    <input class="form-control" placeholder="Job Title" type="text" name="title" asp-for="Title" value="@(String.IsNullOrEmpty(Model.Title)? "" : Model.Title)" required readonly>
    <br>
    <select class="form-control" asp-for="LevelId" disabled>
        @{
            foreach (var enumItem in Enum.GetValues(typeof(JobLevelEnum)))
            {
                <option value="@((int)enumItem)" selected="@(Model.LevelId == (int)enumItem)"> @(enumItem) </option>
            }
        }
    </select>
    <br>
    <input class="form-control" placeholder="Country" asp-for="Country" value="@(String.IsNullOrEmpty(Model.Country)?"": Model.Country)" required readonly />
    <br>
    <input class="form-control" placeholder="City" asp-for="City" value="@(String.IsNullOrEmpty(Model.City)?"": Model.City)" required readonly />
    <br>
    <textarea class="form-control" asp-for="Description" rows="4" cols="50" readonly>@(String.IsNullOrEmpty(Model.Description) ? "" : Model.Description)</textarea>

    <br>
    @{
        var statusStyle = "btn-info";

        if (Model.Status == ApplicationStatusEnum.InProgress)
        {
            statusStyle = "btn-warning";

        }
        else if (Model.Status == ApplicationStatusEnum.NotSelected)
        {
            statusStyle = "btn-danger";

        }

        if (!Model.CompanyUser)
        {
            if (Model.isApplied)
            {
                <p>You have already applied to this job. Status: </p>
                <select class="form-control @statusStyle" asp-for="Status" disabled>
                    @{
                        foreach (var enumItem in Enum.GetValues(typeof(ApplicationStatusEnum)))
                        {
                            <option value="@((int)enumItem)" selected="@((int)Model.Status == (int)enumItem)"> @(enumItem) </option>
                        }
                    }
                </select>
                <br>
                <input class="btn btn-danger" type="button" value="withdraw application" asp-route-id="@Model.JobId" asp-route-edit="@true" onclick="@("window.location.href='"+@Url.Action("WithdrawJobApplication", "JobApply", new {jobId = Model.JobId })+"'")" />

            }
            else
            {
                <input class="btn btn-primary" type="button" value="apply" asp-route-id="@Model.JobId" asp-route-edit="@true" onclick="@("window.location.href='"+@Url.Action("ApplyToJob", "JobApply", new {id = Model.JobId })+"'")" />
            }
        }
        else
        {
            <p style="color:red;">Job application is only allowed for job-seeker accounts.</p>
        }
        
    }
   
</div>
