@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model JobBoard.Models.View.JobPostViewModel
@using JobBoard.Enums

@{
    var edit = Model.Edit;
    var postAction = edit ? "EditJobPost" : "AddJobPost";
}
<head>
    <input hidden asp-for="Id" value="@Model.Id" />
</head>
<body>
<h1>@(edit ? "Edit Job Post" : Model.Detail ? "Job Details" : "Add New Post")</h1>
@* <form method="post" asp-controller="Home" asp-action="LogOn"> *@
@using (Html.BeginForm(postAction, "Poster", FormMethod.Post))
{
    <div>
        <input placeholder="Job Title" type="text" name="title" asp-for="Title" value="@(String.IsNullOrEmpty(Model.Title)? "" : Model.Title)" required readonly="@(Model.Detail)">
        <br><br />
        <select asp-for="LevelId" disabled="@(Model.Detail)">
            @{
                foreach (var enumItem in Enum.GetValues(typeof(JobLevelEnum)))
                {
                    <option value="@((int)enumItem)" selected="@(Model.LevelId == (int)enumItem)"> @(enumItem) </option>
                }
            }
        </select>
        <br><br />
        <input placeholder="Country" asp-for="Country" value="@(String.IsNullOrEmpty(Model.Country)?"": Model.Country)" required readonly="@(Model.Detail)" />
        <br><br />
        <input placeholder="City" asp-for="City" value="@(String.IsNullOrEmpty(Model.City)?"": Model.City)" required readonly="@(Model.Detail)" />
        <br><br />
        <textarea asp-for="Description" rows="4" cols="50" readonly="@(Model.Detail)">@(String.IsNullOrEmpty(Model.Description) ? "" : Model.Description)</textarea>

        <br><br /><br><br />
        @{
            if (Model.Edit)
            {
                <input type="submit" value="save">
                    <input type="button" value="delete this post" onclick="showPop('@Url.Action("DeleteConfirmation", "Poster", new {deleteId=Model.Id})','Attention!')" />
            }
            else if (Model.Detail)
            {
                <input type="button" value="edit this post" asp-route-id="@Model.Id" asp-route-edit="@true" onclick="@("window.location.href='"+@Url.Action("EditJobPost", "Poster", new {id = Model.Id, edit=true })+"'")" />
            }
            else
            {
                <input type="submit" value="save">
            }

        }

         
         
         
         
         
         

    </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="formModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalClose()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    @* <input type="button" onclick="deleteJobPost('@Url.Action("DeleteJobPost")', @Model.Id)" class="btn btn-danger" value="Delete"> *@
                    
                </div>
            </div>
        </div>
    </div>

}
</body>



