@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using JobBoard.Models.View
@model JobBoard.Models.View.JobPostViewModel


<h1>Your Posted Jobs</h1>

<input type="button" value="Post a New Job" onclick="@("window.location.href='" + @Url.Action("AddJobPost", "Poster") + "'");"/>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.jobs) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                    <a asp-action="DetailJobPost" asp-route-id="@item.Id" asp-route-detail="@true">Details</a> |
                    <a asp-action="EditJobPost" asp-route-id="@item.Id" asp-route-edit="@true">Edit</a> |
                <a asp-action="DeleteJobPost" asp-controller="Poster" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
