@using JobBoard.Enums
@model JobBoard.Models.View.JobApplicantsViewModel

<h1>Applicant list for @Model.JobTitle (ID: @Model.JobId)</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Applicant ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Application Date</th>
        <th>Resume</th>
        <th>Motivation Letter</th>
        <th>Status</th>
    </tr>

    </thead>
    <tbody>
    @foreach (var applicant in Model.Applicants)
    {
        
        var trStyle = "";
        if(applicant.Status == ApplicationStatusEnum.NotSelected)
        {
            trStyle = "background-color: #f58c8c;";
        }
        

        <tr style="@trStyle">
            <td>@Html.DisplayFor(m => applicant.ApplicantId)</td>
            <td>@Html.DisplayFor(m => applicant.Name)</td>
            <td>@Html.DisplayFor(m => applicant.Surname)</td>
            <td>@{
                    var date = applicant.ApplicationDate.ToShortDateString();
                }

                @Html.DisplayFor(m => date)
            </td>
            <td>
                @{
                    var resumeURL = applicant.ResumeURL;
                }
                <a asp-action="DownloadResumePdf" asp-route-jobId="@Model.JobId" asp-route-applicantId="@applicant.ApplicantId">
                        <img src="~/icons/file.png" style="cursor:pointer; max-width:1em;" />
                </a>
                
            </td>
            <td>
                @{
                    var motivationURL = applicant.MotivationLetterURL;
                }
                <a asp-action="DownloadMotivationLetterPdf" asp-route-jobId="@Model.JobId" asp-route-applicantId="@applicant.ApplicantId">
                    <img src="~/icons/file.png" style="cursor:pointer; max-width:1em;" />
                </a>
            </td>
                <td>
                    <select class="form-control" disabled>
                        @{
                            foreach (var enumItem in Enum.GetValues(typeof(ApplicationStatusEnum)))
                            {
                                <option value="@((int)enumItem)" selected="@((int)applicant.Status == (int)enumItem)"> @(enumItem) </option>
                            }
                        }
                    </select>
                </td>

        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">

    openResumeOnNewTab = (url) => {
        window.open(url, '_blank');
    }

</script>