@using JobBoard.Enums
@model JobBoard.Models.View.JobApplicantsViewModel

<h1>Applicant list for @Model.JobTitle (ID: @Model.JobId)</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Applicant ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Application Date</th>
        <th>Resume</th>
        <th>Motivation Letter</th>
        <th>Status</th>
    </tr>

    </thead>
    <tbody>
    @foreach (var applicant in Model.Applicants)
    {
        
        var trStyle = "";
        if(applicant.Status == ApplicationStatusEnum.NotSelected)
        {
            trStyle = "background-color: #f58c8c;";
        }


            <tr style="@trStyle" onclick="@("window.location.href='" +@Url.Action("ApplicantDetail","Poster", new {applicantId = @applicant.ApplicantId, jobId = @Model.JobId})+ "'");">
            <td>@Html.DisplayFor(m => applicant.ApplicantId)</td>
            <td>@Html.DisplayFor(m => applicant.Name)</td>
            <td>@Html.DisplayFor(m => applicant.Surname)</td>
            <td>@{
                    var date = applicant.ApplicationDate.ToShortDateString();
                }

                @Html.DisplayFor(m => date)
            </td>
            <td>
                <a asp-action="DownloadResumePdf" asp-route-jobId="@Model.JobId" asp-route-applicantId="@applicant.ApplicantId">
                        <img src="~/icons/file.png" style="cursor:pointer; max-width:1em;" />
                </a>
                
            </td>
            <td>
                

                <a asp-action="DownloadMotivationLetterPdf" asp-route-jobId="@Model.JobId" asp-route-applicantId="@applicant.ApplicantId">
                    <img src="~/icons/file.png" style="cursor:pointer; max-width:1em;" />
                </a>
            </td>
            <td>
                @{
                    var statusStyle = "btn-info";

                        if (applicant.Status == ApplicationStatusEnum.InProgress)
                    {
                        statusStyle = "btn-warning";

                    }
                        else if (applicant.Status == ApplicationStatusEnum.NotSelected)
                    {
                        statusStyle = "btn-danger";

                    }
                }
                    <select class="form-control @statusStyle" disabled>
                    @{
                        foreach (var enumItem in Enum.GetValues(typeof(ApplicationStatusEnum)))
                        {
                            <option value="@((int)enumItem)" selected="@((int)applicant.Status == (int)enumItem)"> @(enumItem) </option>
                        }
                    }
                </select>
            </td>

        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">

    openResumeOnNewTab = (url) => {
        window.open(url, '_blank');
    }

</script>